.tool {
}

.tool-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    color: #bec0c8;
    transition: 0.2s;
    border-radius: 8px;

    &:hover {
        color: #fff;
        background: hsla(0, 0%, 100%, .04) !important;
    }

    &__name {
        display: flex;
        align-items: center;
        font-size: 13px;
        

        span {
            margin-left: 8px;
        }
    }

    &__expand {    
        display: flex;
        align-items: center;
    }
}

.tool-options {
    padding-top: 6px;
    padding-left: 6px;
    max-height: 200px;
    
}