@import '../signin/signin.module.scss';

.signup {
    @extend .signin;
}

.to-signin-box {
    @extend .to-signup-box;
}

.signup-form {
    margin: 24px 0;

    &__item {
        @extend .auth-method;
    }

    &__twins-box {
        display: flex;

        .signup-form__item:first-child {
            margin-right: 8px;
        }

        .signup-form__item:last-child {
            margin-left: 8px;
        }
    }

    .signup-btn {
        @extend .signin-box;
    }
}
