@import '../basic-tools.module.scss';

.crop-area {
    margin-bottom: 2rem;
}

.crop-options {
    padding-top: 6px;
    padding-left: 6px;
    max-height: 200px;
}

.crop {
    display: flex;
    flex-wrap: wrap;
}

.crop-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bec0c8;
    flex: 0 0 auto;
    width: calc(33.333333337% - 8px);
    height: 72px;
    background: hsla(0, 0%, 100%, .04);
    justify-content: center;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
        color: #fff;
        background: hsla(0, 0%, 100%, .08);
    }

    span {
        margin-top: 4px;
        font-size: 12px;
    }
}

.crop-actions {
    margin-top: 1rem;
    padding: 0 10px;

    .actions {
        button {
            border-radius: 4px;
            border: 0;
            width: 80px;
            height: 2rem;
            margin-right: 8px;
            cursor: pointer;
            color: #9da2ad;
            background: #404144;
            transition: 0.2s;

            &:hover {
                color: #fff;
                background: #4b4c50;
            }

            &:first-child {
                background: #2c7dfa;
                color: #fff;

                &:hover {
                    background: #458cfb;
                }
            }
        }
    }
}